.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*create css for the input bpox*/
.inputBox{
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

/*create css for the button*/
.button{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/*create css for the output box*/
.outputBox{
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

/*create css for the container*/

.container{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/*create css for the form*/

.form {
  background: radial-gradient(circle, #fff 20%, transparent 20%),
              radial-gradient(circle, #fff 20%, transparent 20%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.course-name {
  color: rgb(54, 54, 54);
}
.course-teacher {
  color: rgb(0, 0, 0);
}
.course-mark {
  color: blue;
}
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Arial, Helvetica, sans-serif;
  background-color: #2e2e2e;
}

input[type="text"],
input[type="password"] {
  height: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 5px; 
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 8px;
  background: #555555;
  border: 1px solid #ffffff;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px; 
}


input[type="submit"]:hover {
  background: #035337;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: rgb(143, 143, 143);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}



